.search_results {
	font-size: 9pt;
}

.search {
	font-style: italic;
	color: #333;
}

a:link { 
	color: #005FA9;
	text-decoration: none;
}

a:visited { 
	color: #A367B1; 
	text-decoration: none; 
}

a:hover { 
	background-color: #DDEEFF; 
}
