<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if test \! -e "$TM_NEW_FILE"; then
echo '&lt;?xml version="1.0"?&gt;
&lt;!DOCTYPE cross-domain-policy 
  SYSTEM "http://www.macromedia.com/xml/dtds/cross-domain-policy.dtd"&gt;
&lt;cross-domain-policy&gt;
  &lt;allow-access-from domain="*" /&gt;
  &lt;allow-access-from domain="*.domain.com" /&gt;
&lt;/cross-domain-policy&gt;' &gt; "$TM_NEW_FILE";
fi</string>
	<key>extension</key>
	<string>xml</string>
	<key>name</key>
	<string>Crossdomain.xml</string>
	<key>uuid</key>
	<string>72BA1127-E8DA-4981-B410-C6C1F11F0D08</string>
</dict>
</plist>
