<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>
#  NOTE: The template parser is designed to remove lines which are considered
#  documentation blocks or code banners, and any trailing empty line.
#
#  This gives us the ability to control whether or not documenation and banners
#  are automatically added by the application. Please set the shell variables 
#  TM_ASDOC_GENERATION and TM_AS3_BANNER_GENERATION to any value to have the
#  parser keep the associated part of the document.

as3_template_parser.rb &lt; class.as</string>
	<key>extension</key>
	<string>as</string>
	<key>name</key>
	<string>Sprite Subclass</string>
	<key>uuid</key>
	<string>9A853471-EA89-432F-A196-02B25C319B2C</string>
</dict>
</plist>
