<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   a=`echo ${TM_NEW_FILE#$TM_PROJECT_DIRECTORY/src/}` \
   b=`echo ${a%/$TM_NEW_FILE_BASENAME.as}` \
   c=`echo ${b#/}` \
   TM_CLASS_PATH=`echo $c | tr '/' '.'` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; class.as &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>as</string>
	<key>name</key>
	<string>Sprite Subclass</string>
	<key>uuid</key>
	<string>9A853471-EA89-432F-A196-02B25C319B2C</string>
</dict>
</plist>
