html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background-color: #ffffff;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

div#content, div#flash_content {
	height: 100%;
}

#flash_content {
	margin: 0 auto;
}

div#no_script {
	display: none;
}

a img {
	border: none;
}