<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if test \! -e "$TM_NEW_FILE"; then
	TM_YEAR=`date +%Y` \
	TM_DATE=`date +%d.%m.%Y` \
	TM_USERNAME=`niutil -readprop / /users/\$USER realname` \
	a=`echo ${TM_NEW_FILE#$TM_PROJECT_DIRECTORY/src/}` \
	b=`echo ${a%/$TM_NEW_FILE_BASENAME.as}` \
	c=`echo ${b#/}` \
	TM_CLASS_PATH=`echo $c | tr '/' '.'` \
	perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; class.as &gt; "$TM_NEW_FILE";
fi</string>
	<key>extension</key>
	<string>as</string>
	<key>name</key>
	<string>Event Subclass</string>
	<key>uuid</key>
	<string>BD9C5005-4A6A-4727-ACC5-DDBAA1E18CA9</string>
</dict>
</plist>
