<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if test \! -e "$TM_NEW_FILE"; then

cat "build.xml" &gt; "$TM_NEW_FILE";
	
fi</string>
	<key>extension</key>
	<string>xml</string>
	<key>name</key>
	<string>Ant Build.xml</string>
	<key>uuid</key>
	<string>25FD6ECF-7619-419D-A46F-D89E4516DDB2</string>
</dict>
</plist>
